<template>
    <style></style>

    <div class="inline">
        <label for="edtAFront">Área Frontal</label>
        <input type="text" id="edtAFront" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'m²')" disabled>
    </div>
    <div class="inline">
        <label for="edtAFrontCor">Área Frontal Corrigida</label>
        <input type="text" id="edtAFrontCor" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'m²')" disabled>
    </div>
    <div class="inline">
        <label for="edtCoef">Coeficiente de Arrasto</label>
        <input type="text" id="edtCoef" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valFloat(this,3)" disabled>
    </div>
    <div class="line">
        <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
        <button id="btnDel" class="only-view" disabled><span class="mdi mdi-delete"></span>Deletar</button>
        <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
    </div>
</template>
<script>
    const pageData = main_data.vcl_aero.data
    const pageFunc = main_data.vcl_aero.func
    const pageScreen = document.querySelector('#aero')
    
    function pageStart(){
        openFields(0,pageScreen)
        pageScreen.querySelector('#btnEdit').disabled = 0
        pageScreen.querySelector('#edtAFront').value = pageData.area_front==null ? '' : getUnd(pageData.area_front,'m²')
        pageScreen.querySelector('#edtAFrontCor').value = pageData.area_front_corrig==null ? '' : getUnd(pageData.area_front_corrig,'m²')
        pageScreen.querySelector('#edtCoef').value = pageData.coef_arrasto==null ? '' : pageData.coef_arrasto
    }

    pageFunc.setPneu = (del=0)=>{
        const params = new Object
            params.id_vcl = pageData.id
            params.area_front = del ? -1 : getFloat(pageScreen.querySelector('#edtAFront').value)
            params.area_front_corrig = getFloat(pageScreen.querySelector('#edtAFrontCor').value)
            params.coef_arrasto = pageScreen.querySelector('#edtCoef').value
        const myPromisse = queryDB(params,'VCL-8')

        myPromisse.then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                pageData.callback()
            }
//            setLog(` ${del ? 'Deletado ' : 'Editado '} ${JSON.stringify(params)}`)
//            closeModal('adm_view_veiculo')
            openFields(0,pageScreen)
            pageScreen.querySelector('#btnEdit').disabled = 0

        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setPneu()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente limpar o desempenho deste veículo?')) {
            pageFunc.setPneu(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields(1,pageScreen)
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageStart()
</script>