<template>
    <style></style>

    <div class="panel">

        <fieldset>
            <legend>Existentes</legend>
            <select id="cmbForb" size="10"></select>
        </fieldset>
        <div class="middle">
            <button id="btnAllow" class="btn-round">>></button>
            <button id="btnForbid" class="btn-round"><<</button>
        </div>
        <fieldset>
            <legend>Opcionais</legend>
            <select id="cmbAllow" size="10"></select>
        </fieldset>
    </div>

</template>
<script>
/*
    const pageData = main_data.vcl_equip.data
    const pageFunc = main_data.vcl_equip.func
    const pageScreen = document.querySelector('#card-vcl_equip')
*/    

</script>