<template>
    <style></style>

    <div class="inline">
        <label for="edtNome">Nome</label>
        <input type="text" id="edtNome" class="only-view" onfocus="this.select();" maxlength="50" disabled>
        <label for="edtAno">Ano</label>
        <input type="text" id="edtAno" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" maxlength="4" style="max-width: 80px;" disabled>
    </div>
    <div class="inline">
        <label for="edtMarca">Marca</label>
        <input type="text" id="edtMarca" class="only-view" onfocus="this.select();" maxlength="50" disabled>
        <label for="edtModelo">Modelo</label>
        <input type="text" id="edtModelo" class="only-view" onfocus="this.select();" maxlength="50" disabled>
    </div>
    <div class="inline">
        <label for="cmbCombustivel">Combustível</label>
        <select id="cmbCombustivel" class="only-view" disabled>
            <option value="GASOLINA">Gasolina</option>
            <option value="ALCOOL">Álcool</option>
            <option value="DIESEL">Diesel</option>
            <option value="FLEX">Flex</option>
            <option value="GÁS">GÁS</option>
            <option value="ELÉTRICO">Elétrico</option>
        </select>
        <label for="cmbTipo">Tipo</label>
        <select id="cmbTipo" class="only-view" disabled>
            <option value="HATCH" selected>Hatch</option>
            <option value="SEDAN">Sedan</option>
            <option value="WAGON">Wagon</option>
            <option value="PICAPE">Picape</option>
            <option value="SUV">SUV</option>
            <option value="COUPÊ">Coupê</option>
            <option value="ROADSTER">Roadster</option>
            <option value="FASTBACK">Fastback</option>
            <option value="VAN">VAN</option>
            <option value="JEEP">Jeep</option>
            <option value="CAMINHÃO">Caminhão</option>
            <option value="MOTO">Moto</option>
            <option value="MINIVAN">Minivan</option>
        </select>
    </div>
    <div class="inline">
        <label for="edtPortas">Portas</label>
        <input type="text" id="edtPortas" class="only-view" onfocus="this.select();" inputmode="decimal" maxlength="2" onkeyup="return valInt(this)" disabled>
        <label for="edtLugares">Lugares</label>
        <input type="text" id="edtLugares" class="only-view" onfocus="this.select();" inputmode="decimal" maxlength="3" onkeyup="return valInt(this)" disabled>
        <label for="cmbPorte">Porte</label>
        <select id="cmbPorte" class="only-view" disabled>
            <option value="PEQ">Pequeno</option>
            <option value="MED" selected>Médio</option>
            <option value="GND">Grande</option>
        </select>
    </div>
    <div class="inline">
        <label for="edtPlaca">Placa</label>
        <input type="text" id="edtPlaca" class="only-view" onfocus="this.select();" maxlength="15" disabled>            
        <label for="edtPais">País de Origem</label>
        <input type="text" id="edtPais" class="only-view" onfocus="this.select();" maxlength="25" disabled>
    </div>
    <div class="line">
        <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
        <button id="btnDel" disabled><span class="mdi mdi-delete"></span>Deletar</button>
        <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
    </div>


</template>
<script>

    const pageData = main_data.adm_view_veiculo.data
    const pageFunc = main_data.vcl_info.func
    const pageScreen = document.querySelector('#info')

    function pageStart(){
        openFields(0,pageScreen)
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtAno').value = pageData.ano
            pageScreen.querySelector('#edtMarca').value = pageData.marca
            pageScreen.querySelector('#edtModelo').value = pageData.modelo
            pageScreen.querySelector('#edtPortas').value = pageData.portas
            pageScreen.querySelector('#edtLugares').value = pageData.lugares
            pageScreen.querySelector('#cmbPorte').value = pageData.porte
            pageScreen.querySelector('#cmbCombustivel').value = pageData.combustivel
            pageScreen.querySelector('#cmbTipo').value = pageData.configuracao
            pageScreen.querySelector('#edtPlaca').value = pageData.placa
            pageScreen.querySelector('#edtPais').value = pageData.procedencia
            pageScreen.querySelector('#btnEdit').disabled = 0
    }

    pageFunc.setVeiculo = (del=0)=>{
        const params = new Object;
            params.id = pageData.id
            params.id_acervo = pageData.id_acervo
            params.nome = del ? '' : pageScreen.querySelector('#edtNome').value.trim()
            params.ano = pageScreen.querySelector('#edtAno').value.trim().toUpperCase()
            params.modelo = pageScreen.querySelector('#edtModelo').value.trim().toUpperCase()
            params.marca = pageScreen.querySelector('#edtMarca').value.trim().toUpperCase()
            params.combustivel = pageScreen.querySelector('#cmbCombustivel').value
            params.configuracao = pageScreen.querySelector('#cmbTipo').value
            params.portas = pageScreen.querySelector('#edtPortas').value
            params.lugares = pageScreen.querySelector('#edtLugares').value
            params.porte = pageScreen.querySelector('#cmbPorte').value
            params.placa = pageScreen.querySelector('#edtPlaca').value.trim().toUpperCase()
            params.procedencia = pageScreen.querySelector('#edtPais').value.trim().toUpperCase()
        queryDB(params,'VCL-2').then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                pageData.callback()
            }
//            setLog(`Comprador ${del ? 'Deletado ': novoComp ? 'Cadastrado ':'Editado '} ${JSON.stringify(params)}`)            
//            closeModal('adm_view_veiculo')
            openFields(0,pageScreen)
            pageScreen.querySelector('#btnEdit').disabled = 0            
        })
        
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtNome']) ){
            pageFunc.setVeiculo()
        }
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente deletar este Veículo?')) {
            pageFunc.setVeiculo(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields(1,pageScreen)
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageStart()
</script>