<template>
    <style></style>

    <div class="inline">
        <label for="cmbAciona">Acionamento do Comando</label>
        <select id="cmbAciona" class="only-view" disabled>
            <option value="CORREIA DENTADA">Correia Dentada</option>
            <option value="CORRENTE DE COMANDO">Corrente de Comando</option>
            <option value="ENGRENAGENS">Engrenagens</option>
            <option value="ELETRONICA">Eletrônica</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="cmbAli">Alimentação</label>
        <select id="cmbAli" class="only-view" disabled>
            <option value="INJ. ELETRONICA MULTIPONTO">Inj. Eletrônica Multiponto</option>
            <option value="INJ. ELETRONICA MONOPONTO">Inj. Eletrônica Monoponto</option>
            <option value="CARBURADOR">Carburador</option>
            <option value="N/A">Não se Aplica</option>
        </select>
    </div>
    <div class="inline">
        <label for="cmbAsp">Aspiração</label>
        <select id="cmbAsp" class="only-view" disabled>
            <option value="NATURAL">Natural</option>
            <option value="TURBO">Turbo</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="edtCod">Cód. do Motor</label>
        <input type="text" id="edtCod" class="only-view" maxlength="20" disabled>
    </div>
    <div class="inline">
        <label for="edtCil">Cilindros</label>
        <input type="text" id="edtCil" class="only-view" onkeyup="return valint(this)" disabled>
        <label for="edtCdd">Cilindradas (cm³)</label>
        <input type="text" id="edtCdd" class="only-view" onkeyup="return valint(this)" disabled>
    </div>
    <div class="inline">
        <label for="edtCur">Curso do Pistão (mm)</label>
        <input type="text" id="edtCur" class="only-view" onkeyup="return valFloat(this)" disabled>    
        <label for="edtDiaCil">Diam. do Cilindro (mm)</label>
        <input type="text" id="edtDiaCil" class="only-view" onkeyup="return valFloat(this)" disabled>
    </div>
    <div class="inline">
        <label for="edtVal">Válvulas</label>
        <input type="text" id="edtVal" class="only-view" onkeyup="return valint(this)" disabled>   
        <label for="cmbtComVal">Com. de Válvula</label>
        <select id="cmbtComVal" class="only-view" disabled>
            <option value="SOHC - Simples no Cabeçote">SOHC – Simples no Cabeçote</option>
            <option value="DOHC - Duplo no Cabeçote">DOHC – Duplo no Cabeçote</option>
            <option value="OHV - Comando de Bloco">OHV – Comando de Bloco</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="cmbTuchos">Tuchos</label>
        <select id="cmbTuchos" class="only-view" disabled>
            <option value="HIDRAULICOS">Hidráulicos</option>
            <option value="MECANICOS">Mecânicos</option>
        </select>   
    </div>    
    <div class="inline">
        <label for="edtPPot">Peso/Pot.</label>
        <input type="text" id="edtPPot" class="only-view" onkeyup="return valFloat(this)" disabled>
        <label for="edtPTor">Peso/Torque</label>
        <input type="text" id="edtPTor" class="only-view" onkeyup="return valFloat(this)" disabled>        
    </div>    
    <div class="inline">
        <label for="cmbInst">Instalação</label>
        <select id="cmbInst" class="only-view" disabled>
            <option value="DIANTEIRO">Dianteiro</option>
            <option value="TRASEIRO">Traseiro</option>
        </select>
        <label for="cmbDisp">Disposição</label>
        <select id="cmbDisp" class="only-view" disabled>
            <option value="TRANSVERSAL">Transversal</option>
            <option value="LONGITUDINAL">Longitudinal</option>
        </select>     
    </div>    
    <div class="inline">
        <label for="edtPotEsp">Pot. Espec. (cv/l)</label>
        <input type="text" id="edtPotEsp" class="only-view" onkeyup="return valFloat(this)" disabled>
        <label for="edtPotMax">Pot Máx. (cv)</label>
        <input type="text" id="edtPotMax" class="only-view" onkeyup="return valFloat(this)" disabled>
        <label for="edtRazComp">Razão de Comp.</label>
        <input type="text" id="edtRazComp" class="only-view" onkeyup="return valFloat(this)" disabled>        
    </div>
    <div class="inline">
        <label for="edtRPMMax">RPM Máx.</label>
        <input type="text" id="edtRPMMax" class="only-view" onkeyup="return valint(this)" disabled>
        <label for="edtRPMPotMax">RPM Pot. Max.</label>
        <input type="text" id="edtRPMPotMax" class="only-view" onkeyup="return valint(this)" disabled>
        <label for="edtRPMTorMax">RPM Torque Max..</label>
        <input type="text" id="edtRPMTorMax" class="only-view" onkeyup="return valint(this)" disabled>        
    </div>
    <div class="inline">
        <label for="edtTorEsp">Torque Esp. (kgf/l)</label>
        <input type="text" id="edtTorEsp" class="only-view" onkeyup="return valFloat(this)" disabled>
        <label for="edtTorMax">Torque Max. (kgf/l)</label>
        <input type="text" id="edtTorMax" class="only-view" onkeyup="return valFloat(this)" disabled>
    </div>
    <div class="line">
        <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
        <button id="btnDel" disabled><span class="mdi mdi-delete"></span>Deletar</button>
        <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
    </div>
</template>
<script>
    const pageData = main_data.vcl_motor.data
    const pageFunc = main_data.vcl_motor.func
    const pageScreen = document.querySelector('#motor')
    
    function pageStart(){
        openFields(0)
        pageScreen.querySelector('#btnEdit').disabled = 0
        pageScreen.querySelector('#cmbAciona').value = pageData.aci_comando
        pageScreen.querySelector('#cmbAli').value = pageData.alimentacao
        pageScreen.querySelector('#cmbAsp').value = pageData.aspiracao
        pageScreen.querySelector('#edtCdd').value = pageData.cilindrada
        pageScreen.querySelector('#edtCil').value = pageData.cilindros
        pageScreen.querySelector('#edtCod').value = pageData.cod_motor
        pageScreen.querySelector('#cmbtComVal').value = pageData.com_valvula
        pageScreen.querySelector('#edtCur').value = pageData.curso_pistao
        pageScreen.querySelector('#edtDiaCil').value = pageData.diam_cilindro
        pageScreen.querySelector('#cmbDisp').value = pageData.disposicao
        pageScreen.querySelector('#cmbInst').value = pageData.instalacao
        pageScreen.querySelector('#edtPPot').value = pageData.peso_pot
        pageScreen.querySelector('#edtPotMax').value = pageData.pot_max
        pageScreen.querySelector('#edtRazComp').value = pageData.raz_compressao
        pageScreen.querySelector('#edtRPMMax').value = pageData.rpm_max
        pageScreen.querySelector('#edtRPMPotMax').value = pageData.rpm_pot_max
        pageScreen.querySelector('#edtRPMTorMax').value = pageData.rpm_torque_max
        pageScreen.querySelector('#edtTorEsp').value = pageData.torque_esp
        pageScreen.querySelector('#edtTorMax').value = pageData.torque_max
        pageScreen.querySelector('#cmbTuchos').value = pageData.tuchos
        pageScreen.querySelector('#edtVal').value = pageData.valvulas
    }

    pageFunc.setMotor = (del=0)=>{
        const params = new Object
            params.id_vcl = pageData.id
            params.aci_comando = pageScreen.querySelector('#cmbAciona').value
            params.alimentacao = pageScreen.querySelector('#cmbAli').value
            params.aspiracao = pageScreen.querySelector('#cmbAsp').value
            params.cilindrada = pageScreen.querySelector('#edtCdd').value
            params.cilindros = del ? -1 : pageScreen.querySelector('#edtCil').value
            params.cod_motor = pageScreen.querySelector('#edtCod').value.trim().toUpperCase()
            params.com_valvula = pageScreen.querySelector('#cmbtComVal').value
            params.curso_pistao = pageScreen.querySelector('#edtCur').value
            params.diam_cilindro = pageScreen.querySelector('#edtDiaCil').value
            params.disposicao = pageScreen.querySelector('#cmbDisp').value
            params.instalacao = pageScreen.querySelector('#cmbInst').value
            params.peso_pot = pageScreen.querySelector('#edtPPot').value
            params.pot_max = pageScreen.querySelector('#edtPotMax').value
            params.raz_compressao = pageScreen.querySelector('#edtRazComp').value.trim().toUpperCase()
            params.rpm_max = pageScreen.querySelector('#edtRPMMax').value
            params.rpm_pot_max = pageScreen.querySelector('#edtRPMPotMax').value
            params.rpm_torque_max = pageScreen.querySelector('#edtRPMTorMax').value
            params.torque_esp = pageScreen.querySelector('#edtTorEsp').value
            params.torque_max = pageScreen.querySelector('#edtTorMax').value
            params.tuchos = pageScreen.querySelector('#cmbTuchos').value
            params.valvulas = pageScreen.querySelector('#edtVal').value


        const myPromisse = queryDB(params,'VCL-4')

        myPromisse.then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                pageData.callback()
            }
//            setLog(` ${del ? 'Deletado ' : 'Editado '} ${JSON.stringify(params)}`)
            closeModal('adm_view_veiculo')
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtAcel']) ){
            pageFunc.setMotor()            
        }
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente eliminar os dados do motor deste veículo?')) {
            pageFunc.setMotor(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields()
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageStart()
</script>