<template>
    <style></style>

    <div class="inline">
        <label for="cmbAciona">Acionamento do Comando</label>
        <select id="cmbAciona" class="only-view" disabled>
            <option value="CORREIA DENTADA">Correia Dentada</option>
            <option value="CORRENTE DE COMANDO">Corrente de Comando</option>
            <option value="ENGRENAGENS">Engrenagens</option>
            <option value="ELETRONICA">Eletrônica</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="cmbAli">Alimentação</label>
        <select id="cmbAli" class="only-view" disabled>
            <option value="INJ. ELETRONICA MULT">Inj. Eletrônica Multiponto</option>
            <option value="INJ. ELETRONICA MONO">Inj. Eletrônica Monoponto</option>
            <option value="CARBURADOR">Carburador</option>
            <option value="N/A">Não se Aplica</option>
        </select>
    </div>
    <div class="inline">
        <label for="cmbAsp">Aspiração</label>
        <select id="cmbAsp" class="only-view" disabled>
            <option value="NATURAL">Natural</option>
            <option value="TURBO">Turbo</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="edtCod">Cód. do Motor</label>
        <input type="text" id="edtCod" class="only-view" onfocus="this.select();" maxlength="20" disabled>
    </div>
    <div class="inline">
        <label for="edtCil">Cilindros</label>
        <input type="text" id="edtCil" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" disabled>
        <label for="edtCdd">Cilindradas</label>
        <input type="text" id="edtCdd" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'cm³')" disabled>
    </div>
    <div class="inline">
        <label for="edtCur">Curso do Pistão </label>
        <input type="text" id="edtCur" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'mm')" disabled>    
        <label for="edtDiaCil">Diam. do Cilindro </label>
        <input type="text" id="edtDiaCil" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'mm')" disabled>
    </div>
    <div class="inline">
        <label for="edtVal">Válvulas</label>
        <input type="text" id="edtVal" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" disabled>   
        <label for="cmbtComVal">Com. de Válvula</label>
        <select id="cmbtComVal" class="only-view" disabled>
            <option value="SOHC - Simples">SOHC – Simples no Cabeçote</option>
            <option value="DOHC - Dupla">DOHC – Duplo no Cabeçote</option>
            <option value="OHV - Com. de Bloco">OHV – Comando de Bloco</option>
            <option value="N/A">Não se Aplica</option>
        </select>
        <label for="cmbTuchos">Tuchos</label>
        <select id="cmbTuchos" class="only-view" disabled>
            <option value="HIDRAULICOS">Hidráulicos</option>
            <option value="MECANICOS">Mecânicos</option>
        </select>   
    </div>    
    <div class="inline">
        <label for="edtPPot">Peso/Pot.</label>
        <input type="text" id="edtPPot" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'kg/cv')" disabled>
        <label for="edtPTor">Peso/Torque</label>
        <input type="text" id="edtPTor" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'kg/kgfm')" disabled>        
    </div>    
    <div class="inline">
        <label for="cmbInst">Instalação</label>
        <select id="cmbInst" class="only-view" disabled>
            <option value="DIANTEIRO">Dianteiro</option>
            <option value="TRASEIRO">Traseiro</option>
        </select>
        <label for="cmbDisp">Disposição</label>
        <select id="cmbDisp" class="only-view" disabled>
            <option value="TRANSVERSAL">Transversal</option>
            <option value="LONGITUDINAL">Longitudinal</option>
        </select>     
    </div>    
    <div class="inline">
        <label for="edtPotEsp">Pot. Espec.</label>
        <input type="text" id="edtPotEsp" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'cv/l')" disabled>
        <label for="edtPotMax">Pot Máx. </label>
        <input type="text" id="edtPotMax" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'cv')" disabled>
        <label for="edtRazComp">Razão de Comp.</label>
        <input type="text" id="edtRazComp" class="only-view" onfocus="this.select();" disabled>        
    </div>
    <div class="inline">
        <label for="edtRPMMax">RPM Máx.</label>
        <input type="text" id="edtRPMMax" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" disabled>
        <label for="edtRPMPotMax">RPM Pot. Max.</label>
        <input type="text" id="edtRPMPotMax" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" disabled>
        <label for="edtRPMTorMax">RPM Torque Max..</label>
        <input type="text" id="edtRPMTorMax" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valInt(this)" disabled>        
    </div>
    <div class="inline">
        <label for="edtTorEsp">Torque Esp.</label>
        <input type="text" id="edtTorEsp" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'kgf/l')" disabled>
        <label for="edtTorMax">Torque Max.</label>
        <input type="text" id="edtTorMax" class="only-view" onfocus="this.select();" inputmode="decimal" onkeyup="return valUnid(this,'kgf/l')" disabled>
    </div>
    <div class="line">
        <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
        <button id="btnDel" class="only-view" disabled><span class="mdi mdi-delete"></span>Deletar</button>
        <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
    </div>
</template>
<script>
    const pageData = main_data.vcl_motor.data
    const pageFunc = main_data.vcl_motor.func
    const pageScreen = document.querySelector('#motor')
    
    function pageStart(){
        openFields(0,pageScreen)
        pageScreen.querySelector('#btnEdit').disabled = 0
        pageScreen.querySelector('#cmbAciona').value = pageData.aci_comando
        pageScreen.querySelector('#cmbAli').value = pageData.alimentacao
        pageScreen.querySelector('#cmbAsp').value = pageData.aspiracao
        pageScreen.querySelector('#edtCdd').value = pageData.cilindrada==null ? '' : getUnd(pageData.cilindrada,'cm³')
        pageScreen.querySelector('#edtCil').value = pageData.cilindros
        pageScreen.querySelector('#edtCod').value = pageData.cod_motor
        pageScreen.querySelector('#cmbtComVal').value = pageData.com_valvula
        pageScreen.querySelector('#edtCur').value = pageData.curso_pistao==null ? '' : getUnd(pageData.curso_pistao,'mm')
        pageScreen.querySelector('#edtDiaCil').value = pageData.diam_cilindro==null ? '' : getUnd(pageData.diam_cilindro,'mm')
        pageScreen.querySelector('#cmbDisp').value = pageData.disposicao
        pageScreen.querySelector('#cmbInst').value = pageData.instalacao
        pageScreen.querySelector('#edtPPot').value = pageData.peso_pot==null ? '' : getUnd(pageData.peso_pot,'kg/cv')
        pageScreen.querySelector('#edtPTor').value = pageData.peso_tor==null ? '' : getUnd(pageData.peso_tor,'kg/kgfm')
        pageScreen.querySelector('#edtPotEsp').value = pageData.pot_esp==null ? '' : getUnd(pageData.pot_esp,'cv/l')
        pageScreen.querySelector('#edtPotMax').value = pageData.pot_max==null ? '' : getUnd(pageData.pot_max,'cv')
        pageScreen.querySelector('#edtRazComp').value = pageData.raz_compressao
        pageScreen.querySelector('#edtRPMMax').value = pageData.rpm_max
        pageScreen.querySelector('#edtRPMPotMax').value = pageData.rpm_pot_max
        pageScreen.querySelector('#edtRPMTorMax').value = pageData.rpm_torque_max
        pageScreen.querySelector('#edtTorEsp').value = pageData.torque_esp==null ? '' : getUnd(pageData.torque_esp,'kgf/l')
        pageScreen.querySelector('#edtTorMax').value = pageData.torque_max==null ? '' : getUnd(pageData.torque_max,'kgf/l')
        pageScreen.querySelector('#cmbTuchos').value = pageData.tuchos
        pageScreen.querySelector('#edtVal').value = pageData.valvulas
    }

    pageFunc.setMotor = (del=0)=>{
        const params = new Object
            params.id_vcl = pageData.id
            params.aci_comando = pageScreen.querySelector('#cmbAciona').value
            params.alimentacao = pageScreen.querySelector('#cmbAli').value
            params.aspiracao = pageScreen.querySelector('#cmbAsp').value
            params.cilindrada = getFloat(pageScreen.querySelector('#edtCdd').value)
            params.cilindros = del ? -1 : pageScreen.querySelector('#edtCil').value
            params.cod_motor = pageScreen.querySelector('#edtCod').value.trim().toUpperCase()
            params.com_valvula = pageScreen.querySelector('#cmbtComVal').value
            params.curso_pistao = getFloat(pageScreen.querySelector('#edtCur').value)
            params.diam_cilindro = getFloat(pageScreen.querySelector('#edtDiaCil').value)
            params.disposicao = pageScreen.querySelector('#cmbDisp').value
            params.instalacao = pageScreen.querySelector('#cmbInst').value
            params.peso_pot = getFloat(pageScreen.querySelector('#edtPPot').value)
            params.peso_tor = getFloat(pageScreen.querySelector('#edtPTor').value)
            params.pot_esp = getFloat(pageScreen.querySelector('#edtPotEsp').value)
            params.pot_max = getFloat(pageScreen.querySelector('#edtPotMax').value)
            params.raz_compressao = pageScreen.querySelector('#edtRazComp').value.trim().toUpperCase()
            params.rpm_max = pageScreen.querySelector('#edtRPMMax').value
            params.rpm_pot_max = pageScreen.querySelector('#edtRPMPotMax').value
            params.rpm_torque_max = pageScreen.querySelector('#edtRPMTorMax').value
            params.torque_esp = getFloat(pageScreen.querySelector('#edtTorEsp').value)
            params.torque_max = getFloat(pageScreen.querySelector('#edtTorMax').value)
            params.tuchos = pageScreen.querySelector('#cmbTuchos').value
            params.valvulas = pageScreen.querySelector('#edtVal').value

        const myPromisse = queryDB(params,'VCL-4')

        myPromisse.then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                pageData.callback()
            }
//            setLog(` ${del ? 'Deletado ' : 'Editado '} ${JSON.stringify(params)}`)
            openFields(0,pageScreen)
            pageScreen.querySelector('#btnEdit').disabled = 0
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtAcel']) ){
            pageFunc.setMotor()            
        }
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente eliminar os dados do motor deste veículo?')) {
            pageFunc.setMotor(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields(1,pageScreen)
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageStart()
</script>