
    .pop-up{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }


    .close:hover, .close:focus {
        color: #a1a1a1;
        text-decoration: none;
        cursor: pointer;
    }
    .close {
        font-size: 28px;
        position: absolute;
        z-index: 2;
        opacity: 0.8;
        right: 15px;
        top: 10px;
        color: #fff;
    }

    .item-vcl {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;        
        background: #444;
        color: #fff;        
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .frm-carousel {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;
    }


    .go-left, .go-rigth{
        position: absolute;
        z-index: 2;
        font-size: 3em;
        cursor: pointer;
    }

    .go-left{
        left: 0;
        top: 50%;
    }

    .go-rigth{
        right: 0;
        top: 50%;
    }

    .inline {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .vcl-text{
        color: white;
    }

    .vcl-img{
        width: 80%;
    }

    .carousel{
        display: flex;
        width: fit-content;
        transition: transform 400ms ease-out;
    }

    .about-vcl{
        padding: 50px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
/*        white-space: nowrap;*/
        z-index: 1;
        background-color: black;
/*        display: none;*/
        overflow: scroll;
    }

    .fds-vcl{
        
    }

    @media (max-width: 992px) {

        .frm-carousel, .keys{
            right: 0;
            bottom: 50%;
        }

        .item-vcl{
          width: 100vw;
          height: 50vh;
        }
        .about-vcl{
            left: 0;
            top: 50%;
        }

    }