
    .pop-up{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }


    .close:hover, .close:focus {
        color: #a1a1a1;
        text-decoration: none;
        cursor: pointer;
    }
    .close {
        font-size: 28px;
        position: absolute;
        z-index: 2;
        opacity: 0.8;
        right: 15px;
        top: 10px;
        color: #fff;
    }

    .item-vcl {
        background: #444;
        color: #fff;
        transition: transform 400ms ease-out;
        display: inline-block;
        min-height: 100%;
        width: 50vw;
        height: 100vh;
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: 100vh;
    }

    .frm-carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    white-space: nowrap;
    }

    .go-left{
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 2;
    }

    .go-rigth{
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 2;
    }

    .keys {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        right: 50%;
        padding: 1rem;
        color: #fff;
        text-align: center;
        transition: all 300ms linear;
        opacity: 0;
    }


/*
    .lbl-carrousel:has(input:checked) {
        transform: translate3d(0, 0, 0);
        z-index: 1;
        background-color: aqua;
    }

    .frm-carrousel:has(input:checked){
        transform: translate3d(-100%, 0, 0);
        background-color: red;

    }


    .item-vcl {
        background: #444;
        background-size: cover;
        font-size: 3rem;
    }

    .lbl-carrousel:before,
    .lbl-carrousel:after {
        color: white;
        display: block;
        background: rgba(255,255,255,0.2);
        position: absolute;
        padding: 1rem;
        font-size: 3rem;
        height: 10rem;
        vertical-align: middle;
        line-height: 10rem;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        cursor: pointer;
    }

    .lbl-carrousel:before {
        content: "\276D";
        right: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .lbl-carrousel:after {
        content: "\276C";
        left: 100%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
*/
    .about-vcl{
        padding: 50px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
        white-space: nowrap;
        z-index: 1;
        background-color: black;
/*        display: none;*/
    }

    @media (max-width: 992px) {

        .frm-carousel, .keys{
            right: 0;
            bottom: 50%;
        }

        .item-vcl{
            height: unset;
        }
        .about-vcl{
            left: 0;
            top: 50%;
        }

    }