<template>
    <style>
        .pic{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }


    </style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-sobre" onclick="pictab(this)">Informações</div>        
        <div class="tab-item" id="tab-logo" onclick="pictab(this)">Logotipo</div>
        <div class="tab-item" id="tab-fundo" onclick="pictab(this)">Fundo</div>
    </div>
    <div class="tab-screen">
        <div id="sobre" class="tab">
            <div class="inline">
                <label for="edtNome">Nome</label>
                <input type="text" id="edtNome" class="only-view" maxlength="30" disabled>
            </div>
            <div class="inline">
                <label for="edtFrase">Frase</label>
                <input type="text" id="edtFrase" class="only-view" onfocus="this.select();" maxlength="255" disabled>
            </div>
            <div class="inline">
                <label for="edtURL">URL</label>
                <input type="text" id="edtURL" class="only-view" onfocus="this.select();" maxlength="30" disabled>
            </div>
            <div class="inline">
                <label for="edtEmail">Email</label>
                <input type="text" id="edtEmail" class="only-view" onfocus="this.select();" maxlength="100" onkeyup="validaEmail(this)" disabled>
            </div>
            <div class="inline">
                <label for="edtFace">Facebook</label>
                <input type="text" id="edtFace" class="only-view" onfocus="this.select();" maxlength="100" disabled>
            </div>
            <div class="inline">
                <label for="edtYoutube">Youtube</label>
                <input type="text" id="edtYoutube" class="only-view" onfocus="this.select();" maxlength="100" disabled>
            </div>
            <div class="inline">
                <label for="edtInsta">Instagram</label>
                <input type="text" id="edtInsta" class="only-view" onfocus="this.select();" maxlength="100" disabled>
            </div>
            <div class="inline">
                <label for="edtWhats">Whatsapp</label>
                <input type="text" id="edtWhats" class="only-view" onfocus="this.select();" maxlength="15" onkeyup="phone(this)" disabled>
            </div>                                                                        
            <div class="inline">
                <label for="edtFone">Telefone</label>
                <input type="text" id="edtFone" class="only-view" onfocus="this.select();" maxlength="15" onkeyup="phone(this)" disabled>
            </div>                                                                        
        </div>        
        <div id="logo" class="tab">
            <div class="pic">
                <canvas id="cnvLogo"></canvas>
                <input  name="up_file_logo" id="up_file_logo" type="file" accept=".jpg,.jpeg" class="only-view">            
            </div>
        </div>
        <div id="fundo" class="tab">
            <div class="pic">
                <canvas id="cnvFundo"></canvas>
                <input  name="up_file_fundo" id="up_file_fundo" type="file" accept=".jpg,.jpeg" class="only-view">            
            </div>

        </div>
    </div>
    <div class="line">
        <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
        <button id="btnDel" class="only-view" disabled><span class="mdi mdi-delete"></span>Deletar</button>
        <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
    </div>  


</template>
<script>
    const pageData = main_data.adm_edt_acervo.data
    const pageFunc = main_data.adm_edt_acervo.func
    const pageScreen = document.querySelector('#card-adm_edt_acervo')
    
    function pageStart(){
        openFields(0,pageScreen)
        pictab(pageScreen.querySelector('#tab-sobre'))
        pageScreen.querySelector('#btnEdit').disabled = 0
        pageScreen.querySelector('#edtNome').value = pageData.nome
        pageScreen.querySelector('#edtURL').value = pageData.url
        pageScreen.querySelector('#edtFrase').value = pageData.frase
        pageScreen.querySelector('#edtFone').value = pageData.telefone
        pageScreen.querySelector('#edtEmail').value = pageData.email
        pageScreen.querySelector('#edtFace').value = pageData.facebook
        pageScreen.querySelector('#edtYoutube').value = pageData.youtube
        pageScreen.querySelector('#edtInsta').value = pageData.instagram
        pageScreen.querySelector('#edtWhats').value = pageData.whatsapp

        getFile('/../config/settings.json').then((response)=>{
            json = JSON.parse(response)         
            pageData.img_url = `${json.pastas.save_img}/${pageData.id}/imagens/`
            backFunc({'filename':pageData.img_url+'logo.jpg'},2).then((resp)=>{
                if(JSON.parse(resp)){
                    loadImg(pageData.img_url+'logo.jpg','cnvLogo')
                }
            }) 
            backFunc({'filename':pageData.img_url+'cover.jpg'},2).then((resp)=>{
                if(JSON.parse(resp)){
                    loadImg(pageData.img_url+'cover.jpg','cnvFundo')
                }
            }) 
        })  

    }


    function setAcervo(del=0){
        const params = new Object
        params.id =  pageData.id
        params.id_owner = pageData.id_owner
        params.nome = del ? '' : pageScreen.querySelector('#edtNome').value
        params.url = pageScreen.querySelector('#edtURL').value
        params.frase = pageScreen.querySelector('#edtFrase').value
        params.telefone = pageScreen.querySelector('#edtFone').value
        params.email = pageScreen.querySelector('#edtEmail').value
        params.facebook = pageScreen.querySelector('#edtFace').value
        params.youtube = pageScreen.querySelector('#edtYoutube').value
        params.instagram = pageScreen.querySelector('#edtInsta').value
        params.whatsapp = pageScreen.querySelector('#edtWhats').value

        pageData.nome = params.nome
        pageData.url = params.url

        queryDB(params,'ACV-1').then(()=>{
            if(pageData.hasOwnProperty('callback')){
                pageData.callback(pageData)
            }
            closeModal('adm_edt_acervo')
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        setAcervo()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente eliminar este Acervo e todos seus Veículos?')) {
            if(confirm('Tem certeza? uma vez deletado os dados não poderão ser recuperados.')){
                setAcervo(1)
            }
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields(1,pageScreen)
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageScreen.querySelector('#up_file_logo').addEventListener('change',()=>{
        const up = uploadImage('up_file_logo',pageData.img_url,'logo.jpg')
        up.then((resp)=>{
            loadImg(pageData.img_url+'logo.jpg','cnvLogo')
        })
    })

    pageScreen.querySelector('#up_file_fundo').addEventListener('change',()=>{
        const up = uploadImage('up_file_fundo',pageData.img_url,'cover.jpg')
        up.then((resp)=>{
            loadImg(pageData.img_url+'cover.jpg','cnvFundo')
        })
    })


    pageStart()
</script>