<template>
    <style></style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-info" onclick="pictab(this)">Informações</div>        
        <div class="tab-item" id="tab-desemp" onclick="pictab(this)">Desempenho</div>
        <div class="tab-item" id="tab-motor" onclick="pictab(this)">Motor</div>
        <div class="tab-item" id="tab-transm" onclick="pictab(this)">Transmissão</div>
        <div class="tab-item" id="tab-dim" onclick="pictab(this)">Dimensões</div>
        <div class="tab-item" id="tab-pneus" onclick="pictab(this)">Pneus</div>
        <div class="tab-item" id="tab-aero" onclick="pictab(this)">Aerodinâmica</div>
        <div class="tab-item" id="tab-dir" onclick="pictab(this)">Direção</div>
        <div class="tab-item" id="tab-susp" onclick="pictab(this)">Suspensão</div>
        <div class="tab-item" id="tab-freios" onclick="pictab(this)">Freios</div>
        <div class="tab-item" id="tab-consumo" onclick="pictab(this)">Consumo</div>
        <div class="tab-item" id="tab-equip" onclick="pictab(this)">Equipamentos</div>        
        <div class="tab-item" id="tab-imagens" onclick="pictab(this)">Fotos</div>
    </div>
    <div class="tab-screen">
        <div id="info" class="tab"></div>        
        <div id="desemp" class="tab"></div>
        <div id="motor" class="tab"></div>
        <div id="transm" class="tab"></div>
        <div id="dim" class="tab"></div>
        <div id="pneus" class="tab"></div>
        <div id="aero" class="tab"></div>
        <div id="dir" class="tab"></div>
        <div id="susp" class="tab"></div>
        <div id="freios" class="tab"></div>
        <div id="consumo" class="tab"></div>
        <div id="equip" class="tab"></div>        
        <div id="imagens" class="tab"></div>
    </div>

</template>
<script>
    const pageData = main_data.adm_view_veiculo.data
    const pageFunc = main_data.adm_view_veiculo.func
    const pageScreen = document.querySelector('#card-adm_view_veiculo')

    function pageStart(){
        pictab(pageScreen.querySelector('#tab-info'))

        openHTML('vcl/info.html','info','')
        openHTML('vcl/desempenho.html','desemp','')
        openHTML('vcl/motor.html','motor','')
        openHTML('vcl/transm.html','transm','')
        openHTML('vcl/dim.html','dim','')
        openHTML('vcl/pneus.html','pneus','')
        openHTML('vcl/aero.html','aero','')
        openHTML('vcl/direcao.html','dir','')
        openHTML('vcl/susp.html','susp','')
        openHTML('vcl/freios.html','freios','')
        openHTML('vcl/consumo.html','consumo','')
        openHTML('vcl/equip.html','equip','')
        openHTML('vcl/imagens.html','imagens','')
    }







    pageStart()
</script>