<template>
    <style>
        .center-text{
            text-align: center;
        }

    </style>
    <div class="inline">
        <p class="center-text">Insira o seu email cadastrado e enviaremos um link para você voltar a acessar a sua conta.</p>
    </div>
    <div class="inline">
        <input type="text" id="edtEmail" placeholder="Email" onkeyup="validaEmail(this)">
    </div>
    <div class="line">
        <button id="btnLink" class="btn-out">Enviar link para login</button>
    </div>

</template>
<script>

    


</script>