<template>
    <style>



        @media all and (max-width : 768px) {


        }

    </style>

        <fieldset>
            <legend>Crie Sua Conta</legend>
            <div class="inline">
                <input type="text" id="edtNome" placeholder="Nome">
                <input type="text" id="edtSobrenome" placeholder="Sobrenome">
            </div>

            <div class="inline">
                <input type="text" id="edtEmail" placeholder="Email" onkeyup="validaEmail(this)">
            </div>
            <div class="inline">
                <input type="password" id="edtPass" placeholder="Senha">
                <input type="password" id="edtConfirm" placeholder="Confirme sua senha">
            </div>
            <div class="line">
                <button id="btnNewUser" class="btn-out">Cadastre-se</button>
            </div>
        </fieldset>


</template>
<script>





</script>