<template>
    <style>
        .new-post{
            width: unset;
        }

        .post-pic{
            display: flex;
            justify-content: center;
        }

        #post-img, #up_file{
            display: none;
        }

    </style>


    <div class="post new-post">

        <div class="post-head">
            <div class="post-head-left">
                <img id="new-post-img" class="post-head-img" src="" alt="">
                <div id="new-post-name" class="post-head-name"></div>
            </div>
        </div>
        <div class="post-pic">
            <canvas id="post-img"></canvas>
            <input  name="up_file" id="up_file" type="file" accept=".jpg,.jpeg" class="only-view">  
        </div>
        <div class="post-text">
            <textarea id="new-post-txt" maxlength="256"></textarea>
        </div>

        <div class="post-head-rigth">
            <label class="post-btn" for="up_file"><span class="mdi mdi-camera-plus"></span></label>
            <div id="btn-newPost" class="post-btn"><span class="mdi mdi-account-voice"></span></div>
        </div>

    </div>


</template>
<script>

    const pageData = main_data.pst_post.data
    const pageFunc = main_data.pst_post.func
    const pageScreen = document.querySelector('#card-pst_post')
    const newReg = Object.keys(pageData).length == 0


    function pageStart(){
        pageScreen.querySelector('#new-post-img').src = main_data.dashboard.data.imgPerfil
        pageScreen.querySelector('#new-post-name').innerHTML = main_data.dashboard.data.nome
    }

    pageScreen.querySelector('#btn-newPost').addEventListener('click',()=>{

        const id = newReg ? 0 : pageData.id
        const txt = pageScreen.querySelector('#new-post-txt').value.trim()

        setPost(id,txt)
    })

    pageScreen.querySelector('#up_file').addEventListener('change',()=>{        
        showFile('up_file','post-img')
//        const up = uploadImage('up_file',`assets/users/${localStorage.getItem('id_user')}/`,`perfil.jpg`)
//        up.then((resp)=>{
//            console.log(resp)
            pageScreen.querySelector('#post-img').style.display = 'block'
//        })
    })

    pageStart()

</script>