<template>
    <style>

        #btnDelUser{
            display: none;
        }

        .linCKB{
            display: flex;
            flex-direction: row;
        }

        .linCKB label {
            text-align: right;
            width: auto;
            min-width: 120px;
            align-self: flex-end;
            padding: 10px;
            white-space: nowrap;
        }

        .linCKB input[type=checkbox]{
            margin: 30px 10px 10px 0 !important;

        }

    </style>
    
    <fieldset>
        <legend>Registro de Usuário</legend>

        <div class="inline">
            <label for="edtNome">Nome</label>
            <input type="text" id="edtNome" maxlength="30">
        </div>

        <div class="inline">
            <label for="edtEmail">Email</label>
            <input type="text" id="edtEmail" maxlength="70" onkeyup="validaEmail(this)">
        </div>

        <div class="inline">
            <label for="edtPass">Password</label>
            <input type="password" id="edtPass" maxlength="25">
        </div>

        <div class="inline">
            <label for="edtRepass">Repita Pass.</label>
            <input type="password" id="edtRepass" maxlength="25">
        </div>        

        <div class="inline">
            <label for="edtAcesso">Perfil</label>
            <select id="cmbPerfil"></select>  
        </div>

        <div class="line">
            <button id="btnDelUser"  class="btn">Deletar</button>
            <button id="btnSaveUser" class="btn">Salvar </button>
        </div>
    
      </fieldset>    

</template>
<script>

    const pageData = main_data.sys_view_user.data
    const pageFunc = main_data.sys_view_user.func
    const pageScreen = document.querySelector('#card-sys_view_user')

    pageFunc.fillData = ()=>{
        if(parseInt(pageData.id)>0){
            pageScreen.querySelector('#edtEmail').value = pageData.email
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#cmbPerfil').value = pageData.access
            pageScreen.querySelector('#btnDelUser').style.display = 'block'
        }
    }

    pageFunc.setUser = (id, email)=>{

        const message = email=='' ? 'Deleção de usuário' : id>0 ? 'Alteração de usuário' : 'Inserção de novo usuários' 
        const nome = pageScreen.querySelector('#edtNome').value.trim()
        const params = new Object
            params.id = id
            params.nome = nome == '' ? email.split('@')[0] : nome
            params.email = email
            params.pass = pageScreen.querySelector('#edtPass').value.trim()
            params.acesso = pageScreen.querySelector('#cmbPerfil').value
        
        const myPromisse = queryDB(params,'USR-1');
        myPromisse.then((resolve)=>{
            setLog(`${message}, email:${pageData.email} -> ${params.email}, acesso:${pageData.access} -> ${params.acesso}`)                
            try{
                main_data.sys_usuarios.func.fillUser()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            closeModal('sys_view_user')
        })
    }

    pageFunc.fillPerm = ()=>{

        const cmb = pageScreen.querySelector('#cmbPerfil')
        cmb.innerHTML = ''
        const params = new Object;
            params.field = 'nome'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'SYS-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)

            function addOpt(id,nome){
                const opt = document.createElement('option')
                opt.value = id
                opt.innerHTML = nome
                opt.selected = pageData.access == id 
                cmb.appendChild(opt)
            }

            if(pageData.access=='0'){
                addOpt(0,'ADMINISTRADOR ROOT')
            }

            for(let i=0; i<json.length;i++){               
                addOpt(json[i].id,json[i].nome)
            }
        });
    }

    pageScreen.querySelector('#btnSaveUser').addEventListener('click',()=>{
        if(checkField(['edtEmail']) && checkRepass(['edtPass','edtRepass'] || parseInt(pageData.id)>0)){
            const id = parseInt(pageData.id)
            const email = pageScreen.querySelector('#edtEmail').value.trim().toLowerCase()
            const pass = pageScreen.querySelector('#edtPass')
            if(id==0 && pass.value.trim()==''){
                alert('Favor digitar uma senha válida!')
                pass.focus()
            }else{
                pageFunc.setUser(id, email)
            }
        }
    })

    pageScreen.querySelector('#btnDelUser').addEventListener('click',()=>{
        if(confirm(`Deseja deletar o usuário ${pageData.email}?`)){
            const id = parseInt(pageData.id)
            pageFunc.setUser(id,'')
        }        
    })

    pageFunc.fillData()
    pageFunc.fillPerm()

</script>