

<template>
 
    <style>

        .calendar{
            margin: 10px;
            display : grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr repeat(6, 4fr);
            gap: 5px;

            container-type: inline-size;
            min-width: 0;
        }

        .dayLabel{
            padding-top : 5px;
            background : #606060;
            color : #FFFFFF;
            text-align: center;
        }

        .dayText{
            top: -20px;
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            width : 100%;
            height : 78%;
            color: rgb(0, 0, 0);
            text-align: center;
        }

        .daysquare{
            padding: 4px;
            color: #b6b6b6;
            cursor : pointer;
            text-align: right;
            max-height: 150px;
            overflow: hidden;
        }    

        #cmbMes, #edtAno{
            width: 48%;
            padding: 5px;
            margin: 5px;
            font-size: 20px;
        }

        .dayLabel:nth-child(1)::after{
            content: 'Domingo';
        }
        .dayLabel:nth-child(2)::after{
            content: 'Segunda';
        }
        .dayLabel:nth-child(3)::after{
            content: 'Terça';
        }
        .dayLabel:nth-child(4)::after{
            content: 'Quarta';
        }
        .dayLabel:nth-child(5)::after{
            content: 'Quinta';
        }
        .dayLabel:nth-child(6)::after{
            content: 'Sexta';
        }
        .dayLabel:nth-child(7)::after{
            content: 'Sábado';
        }

    @container (max-width: 768px) {

        .dayLabel:nth-child(1)::after{
            content: 'Dom.';
        }
        .dayLabel:nth-child(2)::after{
            content: 'Seg.';
        }
        .dayLabel:nth-child(3)::after{
            content: 'Ter.';
        }
        .dayLabel:nth-child(4)::after{
            content: 'Qua.';
        }
        .dayLabel:nth-child(5)::after{
            content: 'Qui.';
        }
        .dayLabel:nth-child(6)::after{
            content: 'Sex.';
        }
        .dayLabel:nth-child(7)::after{
            content: 'Sab.';
        }

        .daysquare{
            font-size: 0.7em;
        }

    }

    @media all and (max-width : 768px) {

        #cmbMes, #edtAno{
            width:100%;
        }

        .calendar{
            max-height: 60vh;
            background-color: #606060;
        }
    }

    </style>

        <div class="inline">
            <select name="cmbMes" id="cmbMes">
                <option value='0'>JANEIRO</option>
                <option value='1'>FEVEREIRO</option>
                <option value='2'>MARÇO</option>
                <option value='3'>ABRIL</option>
                <option value='4'>MAIO</option>
                <option value='5'>JUNHO</option>
                <option value='6'>JULHO</option>
                <option value='7'>AGOSTO</option>
                <option value='8'>SETEMBRO</option>
                <option value='9'>OUTUBRO</option>
                <option value='10'>NOVEMBRO</option>
                <option value='11'>DEZEMBRO</option>
            </select>
            <input type="number" id="edtAno" name="edtAno" min="2000" max="2100" value=''>
        </div>

        <div class="calendar"></div>

</template>

<script>    

    const pageScreen = document.querySelector('#card-usr_agenda')

    const cmbMes = pageScreen.querySelector('#cmbMes'); 
    const cmbAno = pageScreen.querySelector('#edtAno'); 
    const user_id = localStorage.getItem("id");

    cmbAno.value = today.getFullYear();
    cmbMes.value = today.getMonth();

    cmbMes.addEventListener('change',()=>{
      openCalendar();
    })

    cmbAno.addEventListener('change',()=>{
      openCalendar();
    })

    openCalendar();

    function openCalendar(){
        const screen = pageScreen.querySelector('.calendar');
        const mes = pageScreen.querySelector('#cmbMes');
        const ano = pageScreen.querySelector('#edtAno');
        const day = new Date();
        
        let row = 0;

        day.setMonth(mes.value);
        day.setYear(ano.value);
        day.setDate(1);

        if(day.getDay() <= 2 ){
            day.setDate(day.getDate() - (7 + day.getDay()));
        }else{
            day.setDate(day.getDate() - day.getDay());
        }

        const endDay = new Date(day);
        endDay.setDate(endDay.getDate() + 41);
        const schedule = busca(day,endDay);

        screen.innerHTML=`
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>
            <div class='dayLabel'></div>`;

        for(let x=0; x<7; x++){
            for(let y=0; y<6; y++){
            const div = document.createElement('div');
            div.classList.add("daysquare");
            div.id = String(day.getDate()).padStart(2, '0')+'/'+String((day.getMonth()+1)).padStart(2, '0')
            div.innerHTML = String(day.getDate()).padStart(2, '0')+'/'+String((day.getMonth()+1)).padStart(2, '0') +`<div class="dayText" id='dia-${day.getFormatDate()}'></div>`;
            div.innerHTML;
            if(day.getMonth() == mes.value){
                div.style = 'background : #F3F3F3;'
            }else{
                div.style = 'background : #D0D0D0; color : #FFFFFF'
            }

            if(day.getDate()=== today.getDate() && day.getMonth()=== today.getMonth() && day.getFullYear()=== today.getFullYear()){
                div.style.border = '5px solid red'
            }

            div.addEventListener('click',()=>{
                clickDate(div)
            });

            div.lastChild.data = day.getFormatDate()
            screen.appendChild(div);
            day.setDate(day.getDate() + 1);

            }
        }   

        function clickDate(square){
            openHTML("usr_viewAgenda.html",'pop-up', square.id+'/'+cmbAno.value,square.lastChild,500);
        }
 
    }
    
    function busca(start,end){
      
        const params = new Object;
        params.dt_ini = start.getFormatDate();
        params.dt_fin = end.getFormatDate();
        const myPromisse = queryDB(params,'CAL-0');

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);     
                for(let i=0; i<json.length; i++){
                    const square = pageScreen.querySelector('#dia-'+json[i].data_agd.substr(0,10));
                    square.innerHTML = json[i].obs;
                    square.title = json[i].obs;
                    square.parentNode.style.background = "#f8f693"
                    square.parentNode.style.color = "#000000"
                }              
            }        
        });
    }

</script>    
